# -------------------------
# JSON Knowledge Graph (JKG)
# Container configuration parameters for build_container script

# Uncomment variables to change from the default values.

# Name of Docker container
container_name=jkg-neo4j-local

# Docker tag. If "local", the build_container script will use the local Docker image instead of pulling an image
# from DockerHub.
#docker_tag=current-release
docker_tag=local

# Password for the neo4j user.
# The password must contain at least 8 characters, of which one must be alphabetic and one numeric.
neo4j_password=abcd1234

# Ports to which to map the container's neo4j instance UI and Bolt ports.
# The default ports for neo4j are 7474 (browser) and 7687 (bolt); if there is a local installation of
# neo4j, changing the port assignments here avoids port conflicts.
ui_port=4600
bolt_port=4700

# Whether the neo4j instance is read-write or read-only. Default is read-only.
read_mode=read-write

# JKG JSON
# Path to the JKG JSON used to populate the neo4j database
jkg_json_dir=./json
# Filename of the JKG JSON
jkg_json_file=jkg.json
# Filename of the JKG Schema
jkg_schema_json=JKG_Schema.json
# Logging path
log_dir=python/log

# JKG JSON BATCH
# Number of rows per batched JSON file
jkg_batch_size=1000000


# JKG JSON VALIDATION

# SCHEMA VALIDATION

# Validation error file
schema_validation_error_file=schema_validation_errors.tsv

# Whether schema validation can use parallel processing (true) or not
schema_validation_parallel=false
# Parallel processing chunk size
parallel_chunk=1000
# Whether schema validation uses batch files (true) instead of the entire JKG JSON
schema_validation_batch=true
# Whether to do spot-validation using a random selection of batch files
schema_validation_spot=false
# Number of random batch files to use in spot validation
num_spot_checks=10
# Specific batch files to validate--a comma-delimited list of file names
# (e.g., JKG_Batch_coderel0010.json,JKG_Batch_rel0001.json)
schema_validation_specific_batch_files=

# STRUCTURAL VALIDATION
check_uniqueness=false
check_referential_integrity=false

# JKG JSON IMPORT
# base of url passed to apoc.loadjson.
# Corresponds to external import volume of dockerized container.
import_url_base=file:///usr/src/app/neo4j/import/json/batch/
# Whether to import rels and coderels. This is primarily for debugging memory issues.
import_rels=true

